form {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #000;
}


input, button {
    margin: 20px;
    font-size: 16px;

}

input {
    color: darkcyan;
}

button {
    background: #000;

    color: snow;
    border: none;
}