.boxWthiEpisode{
    box-shadow: 0 0 10px #00FF07;
    width: 20%;
    display: flex;
    color: green;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 150px;
    text-align: center;
    margin:auto;

}
.episodeMain{
    display: flex;
}
.boxWthiEpisode a {
    padding-top:20px ;
    color: #00FF07;
    text-decoration: none;
}
