.users__right {
    margin-top: 0;
    height: inherit;

}

.users__right h2 {
    margin-top: 0;
}
.user__detail_header{

    line-height: 30px;

    display: flex;
    flex-direction: column;

}

.user__detail {

    color: snow;
    display: flex;
    flex-direction: column;
    align-items: center;

}


