.user_page_main {
    display: flex;
    min-height: calc(100vh - 70px);
}

.users__left {
    background: black;
    height: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    line-height: 40px;
}

.users__left a {
    text-decoration: none;
    color: snow;
    font-size: 20px;

}

.users__left button {
    background: black;
    color: snow;

    margin-left: 20px;
    border: 1px solid snow;
}

.users__right {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.user__right .btn {
    background: #000;
}


.black__bg {

    width: 50%;

    background: #000;
}

